# Segurança
.env
application-prod.properties
*.jks
*.p12
*.pem
data/
*.mv.db

# Maven
target/
maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Java
*.class
*.log
*.hprof

# Spring Boot
uploads/
jacoco.exec

# VSCode
.vscode/

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.settings/
.classpath
.project

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.Spotlight-V100
.Trashes

# Temp
*.tmp
*.swp
.cache/